<select id="origin" class="form-control">
<option value="">Seleccione el Origen</option>
<option value="AFGANISTÁN">AFGANISTÁN</option>
<option value="ALBANIA">ALBANIA</option>
<option value="ALEMANIA">ALEMANIA</option>
<option value="ANDORRA">ANDORRA</option>
<option value="ANGOLA">ANGOLA</option>
<option value="ANGUILA">ANGUILA</option>
<option value="ANTIGUA Y BARBUDA">ANTIGUA Y BARBUDA</option>
<option value="ANTILLAS HOLANDESAS">ANTILLAS HOLANDESAS</option>
<option value="ANTÁRTIDA">ANTÁRTIDA</option>
<option value="ARABIA SAUDITA">ARABIA SAUDITA</option>
<option value="ARGELIA">ARGELIA</option>
<option value="ARGENTINA">ARGENTINA</option>
<option value="ARMENIA">ARMENIA</option>
<option value="ARUBA">ARUBA</option>
<option value="AUSTRALIA">AUSTRALIA</option>
<option value="AUSTRIA">AUSTRIA</option>
<option value="AZERBAIYÁN">AZERBAIYÁN</option>
<option value="BAHAMAS">BAHAMAS</option>
<option value="BAHRÁIN">BAHRÁIN</option>
<option value="BANGLADESH">BANGLADESH</option>
<option value="BARBADOS">BARBADOS</option>
<option value="BELICE">BELICE</option>
<option value="BENÍN">BENÍN</option>
<option value="BERMUDAS">BERMUDAS</option>
<option value="BIELORRUSIA">BIELORRUSIA</option>
<option value="BOLIVIA">BOLIVIA</option>
<option value="BONAIRE, SAN EUSTAQUIO Y SABA">BONAIRE, SAN EUSTAQUIO Y SABA</option>
<option value="BOSNIA Y HERCEGOVINA">BOSNIA Y HERCEGOVINA</option>
<option value="BOTSUANA">BOTSUANA</option>
<option value="BRASIL">BRASIL</option>
<option value="BRUNÉI">BRUNÉI</option>
<option value="BULGARIA">BULGARIA</option>
<option value="BURKINA FASO">BURKINA FASO</option>
<option value="BURUNDI">BURUNDI</option>
<option value="BUTÁN">BUTÁN</option>
<option value="BÉLGICA">BÉLGICA</option>
<option value="CABO VERDE">CABO VERDE</option>
<option value="CAMBOYA">CAMBOYA</option>
<option value="CAMERÚN">CAMERÚN</option>
<option value="CANADÁ">CANADÁ</option>
<option value="CHAD">CHAD</option>
<option value="CHEQUIA">CHEQUIA</option>
<option value="CHILE">CHILE</option>
<option value="CHINA">CHINA</option>
<option value="CHIPRE">CHIPRE</option>
<option value="CIUDAD DEL VATICANO">CIUDAD DEL VATICANO</option>
<option value="COLOMBIA">COLOMBIA</option>
<option value="COMORES">COMORES</option>
<option value="CONGO">CONGO</option>
<option value="COREA DEL NORTE">COREA DEL NORTE</option>
<option value="COREA DEL SUR">COREA DEL SUR</option>
<option value="COSTA DE MARFIL">COSTA DE MARFIL</option>
<option value="COSTA RICA">COSTA RICA</option>
<option value="CROACIA">CROACIA</option>
<option value="CUBA">CUBA</option>
<option value="CURAÇAO">CURAÇAO</option>
<option value="DINAMARCA">DINAMARCA</option>
<option value="DOMINICA">DOMINICA</option>
<option value="ECUADOR">ECUADOR</option>
<option value="EGIPTO">EGIPTO</option>
<option value="EL SALVADOR">EL SALVADOR</option>
<option value="EMIRATOS ÁRABES UNIDOS">EMIRATOS ÁRABES UNIDOS</option>
<option value="ERITREA">ERITREA</option>
<option value="ESLOVAQUIA">ESLOVAQUIA</option>
<option value="ESLOVENIA">ESLOVENIA</option>
<option value="ESPAÑA">ESPAÑA</option>
<option value="ESTADOS UNIDOS">ESTADOS UNIDOS</option>
<option value="ESTONIA">ESTONIA</option>
<option value="ETIOPÍA">ETIOPÍA</option>
<option value="FILIPINAS">FILIPINAS</option>
<option value="FINLANDIA">FINLANDIA</option>
<option value="FIYI">FIYI</option>
<option value="FRANCIA">FRANCIA</option>
<option value="GABÓN">GABÓN</option>
<option value="GAMBIA">GAMBIA</option>
<option value="GEORGIA">GEORGIA</option>
<option value="GHANA">GHANA</option>
<option value="GIBRALTAR">GIBRALTAR</option>
<option value="GRANADA">GRANADA</option>
<option value="GRECIA">GRECIA</option>
<option value="GROENLANDIA">GROENLANDIA</option>
<option value="GUADALUPE">GUADALUPE</option>
<option value="GUAM">GUAM</option>
<option value="GUATEMALA">GUATEMALA</option>
<option value="GUAYANA FRANCESA">GUAYANA FRANCESA</option>
<option value="GUERNSEY">GUERNSEY</option>
<option value="GUINEA">GUINEA</option>
<option value="GUINEA ECUATORIAL">GUINEA ECUATORIAL</option>
<option value="GUINEA-BISSAU">GUINEA-BISSAU</option>
<option value="GUYANA">GUYANA</option>
<option value="HAITÍ">HAITÍ</option>
<option value="HOLANDA">HOLANDA</option>
<option value="HONDURAS">HONDURAS</option>
<option value="HONG KONG">HONG KONG</option>
<option value="HUNGRÍA">HUNGRÍA</option>
<option value="INDIA">INDIA</option>
<option value="INDONESIA">INDONESIA</option>
<option value="IRAQ">IRAQ</option>
<option value="IRLANDA">IRLANDA</option>
<option value="IRÁN">IRÁN</option>
<option value="ISLA BOUVET">ISLA BOUVET</option>
<option value="ISLA CHRISTMAS">ISLA CHRISTMAS</option>
<option value="ISLA DE MAN">ISLA DE MAN</option>
<option value="ISLA NORFOLK">ISLA NORFOLK</option>
<option value="ISLANDIA">ISLANDIA</option>
<option value="ISLAS ALAND">ISLAS ALAND</option>
<option value="ISLAS CAIMÁN">ISLAS CAIMÁN</option>
<option value="ISLAS COCOS">ISLAS COCOS</option>
<option value="ISLAS COOK">ISLAS COOK</option>
<option value="ISLAS FEROE">ISLAS FEROE</option>
<option value="ISLAS GEORGIA DEL SUR Y SANDWICH DEL SUR">ISLAS GEORGIA DEL SUR Y SANDWICH DEL SUR</option>
<option value="ISLAS HEARD Y MCDONALD">ISLAS HEARD Y MCDONALD</option>
<option value="ISLAS MALVINAS">ISLAS MALVINAS</option>
<option value="ISLAS MARIANAS DEL NORTE">ISLAS MARIANAS DEL NORTE</option>
<option value="ISLAS MARSHALL">ISLAS MARSHALL</option>
<option value="ISLAS MENORES ALEJADAS DE LOS ESTADOS UNIDOS">ISLAS MENORES ALEJADAS DE LOS ESTADOS UNIDOS</option>
<option value="ISLAS PITCAIRN">ISLAS PITCAIRN</option>
<option value="ISLAS SALOMÓN">ISLAS SALOMÓN</option>
<option value="ISLAS TURCAS Y CAICOS">ISLAS TURCAS Y CAICOS</option>
<option value="ISLAS VÍRGENES AMERICANAS">ISLAS VÍRGENES AMERICANAS</option>
<option value="ISLAS VÍRGENES BRITÁNICAS">ISLAS VÍRGENES BRITÁNICAS</option>
<option value="ISRAEL">ISRAEL</option>
<option value="ITALIA">ITALIA</option>
<option value="JAMAICA">JAMAICA</option>
<option value="JAPÓN">JAPÓN</option>
<option value="JERSEY">JERSEY</option>
<option value="JORDANIA">JORDANIA</option>
<option value="KAZAJSTÁN">KAZAJSTÁN</option>
<option value="KENIA">KENIA</option>
<option value="KIRGUIZISTÁN">KIRGUIZISTÁN</option>
<option value="KIRIBATI">KIRIBATI</option>
<option value="KUWAIT">KUWAIT</option>
<option value="LAOS">LAOS</option>
<option value="LESOTO">LESOTO</option>
<option value="LETONIA">LETONIA</option>
<option value="LIBERIA">LIBERIA</option>
<option value="LIBIA">LIBIA</option>
<option value="LIECHTENSTEIN">LIECHTENSTEIN</option>
<option value="LITUANIA">LITUANIA</option>
<option value="LUXEMBURGO">LUXEMBURGO</option>
<option value="LÍBANO">LÍBANO</option>
<option value="MACAO">MACAO</option>
<option value="MACEDONIA">MACEDONIA</option>
<option value="MADAGASCAR">MADAGASCAR</option>
<option value="MALASIA">MALASIA</option>
<option value="MALAUI">MALAUI</option>
<option value="MALDIVAS">MALDIVAS</option>
<option value="MALTA">MALTA</option>
<option value="MALÍ">MALÍ</option>
<option value="MARRUECOS">MARRUECOS</option>
<option value="MARTINICA">MARTINICA</option>
<option value="MAURICIO">MAURICIO</option>
<option value="MAURITANIA">MAURITANIA</option>
<option value="MAYOTTE">MAYOTTE</option>
<option value="MICRONESIA">MICRONESIA</option>
<option value="MOLDAVIA">MOLDAVIA</option>
<option value="MONGOLIA">MONGOLIA</option>
<option value="MONTENEGRO">MONTENEGRO</option>
<option value="MONTSERRAT">MONTSERRAT</option>
<option value="MOZAMBIQUE">MOZAMBIQUE</option>
<option value="MYANMAR">MYANMAR</option>
<option value="MÉXICO">MÉXICO</option>
<option value="MÓNACO">MÓNACO</option>
<option value="NAMIBIA">NAMIBIA</option>
<option value="NAURU">NAURU</option>
<option value="NEPAL">NEPAL</option>
<option value="NICARAGUA">NICARAGUA</option>
<option value="NIGERIA">NIGERIA</option>
<option value="NIUE">NIUE</option>
<option value="NORUEGA">NORUEGA</option>
<option value="NUEVA CALEDONIA">NUEVA CALEDONIA</option>
<option value="NUEVA ZELANDA">NUEVA ZELANDA</option>
<option value="NÍGER">NÍGER</option>
<option value="OMÁN">OMÁN</option>
<option value="PALAOS">PALAOS</option>
<option value="PALESTINA">PALESTINA</option>
<option value="PANAMÁ">PANAMÁ</option>
<option value="PAPÚA NEW GUINEA">PAPÚA NEW GUINEA</option>
<option value="PAQUISTÁN">PAQUISTÁN</option>
<option value="PARAGUAY">PARAGUAY</option>
<option value="PERÚ">PERÚ</option>
<option value="POLINESIA FRANCESA">POLINESIA FRANCESA</option>
<option value="POLONIA">POLONIA</option>
<option value="PORTUGAL">PORTUGAL</option>
<option value="PUERTO RICO">PUERTO RICO</option>
<option value="QATAR">QATAR</option>
<option value="REINO UNIDO">REINO UNIDO</option>
<option value="REPÚBLICA CENTROAFRICANA">REPÚBLICA CENTROAFRICANA</option>
<option value="REPÚBLICA DEMOCRÁTICA DEL CONGO">REPÚBLICA DEMOCRÁTICA DEL CONGO</option>
<option value="REPÚBLICA DOMINICANA">REPÚBLICA DOMINICANA</option>
<option value="REUNIÓN">REUNIÓN</option>
<option value="RUANDA">RUANDA</option>
<option value="RUMANIA">RUMANIA</option>
<option value="RUSIA">RUSIA</option>
<option value="SAHARA OCCIDENTAL">SAHARA OCCIDENTAL</option>
<option value="SAMOA">SAMOA</option>
<option value="SAMOA AMERICANA">SAMOA AMERICANA</option>
<option value="SAN BARTOLOMÉ">SAN BARTOLOMÉ</option>
<option value="SAN CRISTÓBAL Y NIEVES">SAN CRISTÓBAL Y NIEVES</option>
<option value="SAN MARINO">SAN MARINO</option>
<option value="SAN MARTÍN">SAN MARTÍN</option>
<option value="SAN MARTÍN (REGIÓN HOLANDESA)">SAN MARTÍN (REGIÓN HOLANDESA)</option>
<option value="SAN PEDRO Y MIQUELÓN">SAN PEDRO Y MIQUELÓN</option>
<option value="SAN VICENTE Y LAS GRANADINAS">SAN VICENTE Y LAS GRANADINAS</option>
<option value="SANTA HELENA">SANTA HELENA</option>
<option value="SANTA LUCIA">SANTA LUCIA</option>
<option value="SANTO TOMÉ Y PRÍNCIPE">SANTO TOMÉ Y PRÍNCIPE</option>
<option value="SENEGAL">SENEGAL</option>
<option value="SERBIA">SERBIA</option>
<option value="SEYCHELLES">SEYCHELLES</option>
<option value="SIERRA LEONA">SIERRA LEONA</option>
<option value="SINGAPUR">SINGAPUR</option>
<option value="SIRIA">SIRIA</option>
<option value="SOMALIA">SOMALIA</option>
<option value="SRI LANKA">SRI LANKA</option>
<option value="SUAZILANDIA">SUAZILANDIA</option>
<option value="SUDÁFRICA">SUDÁFRICA</option>
<option value="SUDÁN">SUDÁN</option>
<option value="SUDÁN DEL SUR">SUDÁN DEL SUR</option>
<option value="SUECIA">SUECIA</option>
<option value="SUIZA">SUIZA</option>
<option value="SURINAM">SURINAM</option>
<option value="SVALBARD Y JAN MAYEN">SVALBARD Y JAN MAYEN</option>
<option value="TAILANDIA">TAILANDIA</option>
<option value="TAIWÁN">TAIWÁN</option>
<option value="TANZANIA">TANZANIA</option>
<option value="TAYIKISTÁN">TAYIKISTÁN</option>
<option value="TERRITORIO BRITÁNICO DEL OCÉANO ÍNDICO">TERRITORIO BRITÁNICO DEL OCÉANO ÍNDICO</option>
<option value="TERRITORIOS FRANCESES DEL SUR">TERRITORIOS FRANCESES DEL SUR</option>
<option value="TIMOR ORIENTAL">TIMOR ORIENTAL</option>
<option value="TOGO">TOGO</option>
<option value="TOKELAU">TOKELAU</option>
<option value="TONGA">TONGA</option>
<option value="TRINIDAD Y TOBAGO">TRINIDAD Y TOBAGO</option>
<option value="TURKMENISTÁN">TURKMENISTÁN</option>
<option value="TURQUÍA">TURQUÍA</option>
<option value="TUVALU">TUVALU</option>
<option value="TÚNEZ">TÚNEZ</option>
<option value="UCRANIA">UCRANIA</option>
<option value="UGANDA">UGANDA</option>
<option value="URUGUAY">URUGUAY</option>
<option value="UZBEKISTÁN">UZBEKISTÁN</option>
<option value="VANUATU">VANUATU</option>
<option value="VENEZUELA">VENEZUELA</option>
<option value="VIETNAM">VIETNAM</option>
<option value="WALLIS Y FUTUNA">WALLIS Y FUTUNA</option>
<option value="YEMEN">YEMEN</option>
<option value="YIBUTI">YIBUTI</option>
<option value="ZAMBIA">ZAMBIA</option>
<option value="ZIMBABUE">ZIMBABUE</option>
</select>
