<div id="<%= dom_id delegate_company %>">
  <p>
    <strong>Email:</strong>
    <%= delegate_company.email %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= delegate_company.accepted %>
  </p>

</div>
