<h1>Editing delegate company</h1>

<%= render "form", delegate_company: @delegate_company %>

<br>

<div>
  <%= link_to "Show this delegate company", @delegate_company %> |
  <%= link_to "Back to delegate companies", delegate_companies_path %>
</div>
