<p style="color: green"><%= notice %></p>

<h1>Delegate companies</h1>

<div id="delegate_companies">
  <% @delegate_companies.each do |delegate_company| %>
    <%= render delegate_company %>
    <p>
      <%= link_to "Show this delegate company", delegate_company %>
    </p>
  <% end %>
</div>

<%= link_to "New delegate company", new_delegate_company_path %>
