<div class="container my-4">
  <h2 class="text-center mb-4">Lista de Archivos</h2>
  <div class="d-flex flex-wrap justify-content-center gap-3">
    <% if @qr %>
      <% @qr.djcs.each do |djc| %>
        <%= link_to "Declaracion Jurada de Conformidad djc-#{@qr.code}-#{djc.id}", "#{ENV['PDF_DOMAIN']}djc-#{@qr.code}-#{djc.id}.pdf", class: "btn btn-primary", target: '_blank' %>
        <br/>
        <% if djc.crs_files.attached? %>
          <% djc.crs_files.each do |cr| %>
            <%= link_to cr.filename.to_s, "#{ENV['PDF_DOMAIN']}djc-#{@qr.code}-#{djc.id}.pdf", class: "btn btn-primary", target: '_blank' %>
            <br/>
          <% end %>
        <% end %>  
      <% end %>
    <% end %>
  </div>
</div>