<!-- QR Code de 20mm x 20mm -->
<div style="width: 20mm; height: 20mm;">
  <%= raw @qr.generate_svg_big %>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>
<!-- QR Code de 8mm x 8mm -->
<div style="width: 8mm; height: 8mm;">
  <%= raw @qr.generate_svg_small %>
</div>
