<div class="card p-4 mb-4 shadow-sm text-center">
  <h3>Código QR</h3>
  <% if @qr_code_svg %>
    <div class="qr-code mx-auto mb-3" style="width: 200px;">
      <%= raw(@qr_code_svg) %>
    </div>
    <p>Escanea este código QR para obtener más información sobre esta declaración de conformidad.</p>
  <% else %>
    <p style="color: red;">No se ha generado un código QR para esta declaración.</p>
  <% end %>
</div>
<%= link_to 'Volver', qrs_path, class: 'mt-3 btn btn-secondary btn-lg ml-3' %>
