<table>
  <tbody>
    <tr>
      <td width="300">
        <% image_data = Base64.encode64(@qr.qr_small_image.download) %>
        <img src="data:<%= @qr.qr_small_image.content_type %>;base64,<%= image_data %>"  alt="Qr Small" width="66" height="107">
      </td>
      <td width="300">
        <% image_data = Base64.encode64(@qr.qr_image.download) %>
        <img src="data:<%= @qr.qr_image.content_type %>;base64,<%= image_data %>" alt="Qr Big" width="149" height="215">
      </td>
    </tr>
  </tbody>
</table>
