<h1>Editing reglamento tecnico</h1>

<%= render "form", reglamento_tecnico: @reglamento_tecnico %>

<br>

<div>
  <%= link_to "Show this reglamento tecnico", @reglamento_tecnico %> |
  <%= link_to "Back to reglamento tecnicos", reglamento_tecnicos_path %>
</div>
