<h1>New reglamento tecnico</h1>

<%= render "form", reglamento_tecnico: @reglamento_tecnico %>

<br>

<div>
  <%= link_to "Volver", reglamento_tecnicos_path, class: "btn btn-secondary btn-lg" %>
</div>
