<h1>Editing tipo procedimiento</h1>

<%= render "form", tipo_procedimiento: @tipo_procedimiento %>

<br>

<div>
  <%= link_to "Show this tipo procedimiento", @tipo_procedimiento %> |
  <%= link_to "Back to tipo procedimientos", tipo_procedimientos_path %>
</div>
