<h1>Editing declaracion conformidad</h1>

<%= render "form", declaracion_conformidad: @declaracion_conformidad %>

<br>

<div>
  <%= link_to "Show this declaracion conformidad", @declaracion_conformidad %> |
  <%= link_to "Back to declaracion conformidads", declaracion_conformidads_path %>
</div>
