
<div id="qrCreate" class="justify-content-between align-items-center mb-3" style="display: none;">
  <div class="input-group">
      <label></label>
      <input type="text" id="qr_description" class="form-control" placeholder="Ingrese la descripción">
      <input type="hidden" id="qr_company_id">
      <button class="btn btn-success" type="button" onclick="create()">Crear QR</button>
  </div>
</div>

<script>
async function create() {
  const description = $("#qr_description").val();
  if(description == "") {
    createApiResponse("warning", {message: "Debe ingresar una descripción"});
    return;
  }
  
  createApiResponse("info", {message: "Creando QR..."});
  $("#qrCreate").hide();
  qr = await doPost("<%= api_v1_qrs_url %>", {
    description: description,
    company_id: $("#qr_company_id").val()
  });
  if(qr == null) {
    $("#qrCreate").show();
  }
  else {
    $("#qr_description").val("")
  }
}
</script>