<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Gestión de Empresas</h1>
    <%= link_to "Nueva Empresa", new_company_path, class: "btn btn-success" %>
  </div>

  <%= render 'table', companies: @companies, relacion: "creador" %>
  
  <% unless @apoderado_companies.nil? %>
    <hr>
    <%= render 'table', companies: @apoderado_companies, relacion: "apoderado" %> 
  <% end %>

  <% unless @supervisor_companies.nil? %>
    <hr>
    <%= render 'table', companies: @supervisor_companies, relacion: "supervisor" %> 
  <% end %>
</div>
