<h1>Editing delegacion</h1>

<%= render "form", delegacion: @delegacion %>

<br>

<div>
  <%= link_to "Show this delegacion", @delegacion %> |
  <%= link_to "Back to delegacions", delegacions_path %>
</div>
