<p>Hola <%= @resource.email %>,</p>

<p>Gracias por registrarte en nuestra plataforma. Por favor, confirma tu correo electrónico haciendo clic en el enlace a continuación:</p>

<p><a href="<%= confirmation_url(@resource, confirmation_token: @token) %>">Confirmar mi cuenta</a></p>

<p>Si no solicitaste este registro, ignora este mensaje.</p>
