<!-- app/views/devise/mailer/reset_password_instructions.html.erb -->

<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes hacerlo a través del enlace de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_user_password_url(reset_password_token: @token) %></p>

<p>Si no solicitaste este cambio, por favor ignora este correo. Tu contraseña no se cambiará hasta que accedas al enlace anterior y crees una nueva.</p>
