<div id="responsesBlock" role="alert" style="display:none;">
  <button 
    type="button" 
    class="close position-absolute" 
    onclick="cleanApiResponse()" 
    data-dismiss="alert" 
    aria-label="Close"
    style="top: 5px; right: 10px;">
    <span aria-hidden="true">×</span>
  </button>
  <span id="responsesBlock_messages"></span>
</div>

<% if notice %>
  <script>
    createApiResponse("success", {message: "<%= notice %>"});
  </script>
<% end %>
<% if alert %>
  <script>
    createApiResponse("warning", {message: "<%= alert %>"});
  </script>
<% end %>